Bosel/Bosel.App/bin/
Bosel/Bosel.App/obj/
Bosel/Bosel.Edition/bin/
Bosel/Bosel.Edition/obj/
Bosel/Bosel.Model.Common/bin/
Bosel/Bosel.Model.Common/obj/
Bosel/Bosel.Model/bin/
Bosel/Bosel.Model/obj/
Bosel/Bosel.Vsto/bin/
Bosel/Bosel.Vsto/obj/
Bosel/packages/
Bosel/Utils/bin/
Bosel/Utils/obj/
